.jumbotron{
	padding: 15px;
}
.text-color{
	color: #19c5bd;
	font-size: 40px;
}
.text-color span{
	font-size: 60px;
}

.follower_lists{
	background: #eeeeee;
	padding: 5px;
}
.follower_upper{
	background: #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
}
.follower_upper p{
	font-size: 20px;
}
.thumbnail .follower_lists p{
	margin: 0 0 -4px;
}
.container .row a{
	text-decoration: none;
	color: #333333;
}

.container .row .thumbnail{
	margin-bottom: 0px ;
}
.container .row .thumbnail:hover{
	border: 1px solid #28c8c0;
}

.table-wrapper-scroll-y{
	display: block;
}
.my-custom-scrollbar{
	position: relative;
    height: 390px;
    margin-bottom: 10px;
    overflow: auto;
}
.logo{
	background: #10b3b3;
    color: white;
    font-size: 3rem !important;
    font-weight: bold;
    font-style: italic;
}
.no_src_msg{
	border: 2px solid #10b3b3;
	background: #8fcfde;
	padding: 15px;
	font-size: 15px;
}

#default_search_button{
	float: right;
	background-color: #ffffff;
	color: #000000;
	border-color: #ccc;
	border-left: 1px solid #10b3b3;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.create_btn_holder {
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
}
.create_new_template {
    border: 1px solid #06af94;
    padding: 10px 30px;
    background-color: #06af94;
    box-shadow: 0px 2px 10px #06af94;
    color: #ffffff;
    border-radius: 4px;
    width: 230px;
    text-align: center;
}
.new_template{
    margin-left: 6px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
button.first-search-add-btn,button.second-search-add-btn,button.third-search-remove-btn {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.first-search-add>input,.second-search-add>input,.second-search-add>input {
	border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.login-holder {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.wizard {
    margin: 20px auto;
    width: 100%;
}
.sign_up_form .form_title, .sign_in_form .form_title{
    text-align: center;
}
.sign_up_form .form_title>h3, .sign_in_form .form_title>h3 {
    font-weight: normal;
}
.sign_up_form {
    max-width: 850px;
    margin: 0 auto;
}
.sign_up_form a {
    color: #06af94;
}
.button_holder {
    text-align: center;
    padding: 1em 0;
}
.button_holder>.registration_btn {
    color: #ffffff;
    text-align: center;
    line-height: 1.8em;
    border-radius: 5px;
    border: none;
    padding: 0.4em 7em;
    background-color: #06af94;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px #00d362
}
.container.u_main_content {
    padding-top: 68px;
}



/* Hashtag search radio button start */

.create_destination .main_content .hashtag_title input {
    height: 45px;
    max-width: 350px;
    border-radius: 20%/0px 100px 100px 0px;
    z-index: 9;
}
.create_destination .input_box span.input-group-text {
    background: white;
    border: none;
    z-index: 1;
    margin-left: -15px;
}
.hashtag_title span.input-group-text {
    background: #06af94 !important;
    color: #ffffff;
    padding: 0 2em;
    font-size: 1.2em;
}

.create_destination .radio_list {
   /* display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    max-width: 800px;
    margin: 2em 0;*/

    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 2em 0;
}
.single_radio input {
    margin-bottom: 2em;
    margin-right: 1em;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 2em;
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.3em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 1em;
    float: left;
    width: 30%;
}
@media (min-width: 320px) and (max-width: 480px){
.checkcontainer{
    display: block;
    width: 100%;
}
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #06af94;
    border-radius: 50%;
}
.checkcontainer .radiobtn:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    margin: 0;;
}
.radiobtn:after {
    content: "";
    position: absolute;
    display: none;
}
.checkcontainer input:checked ~ .radiobtn:after {
    display: block;
}

 .checkcontainer input[type="radio"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
 .radio-btn{
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.create_destination .form_buttons .p_btn {
    border-radius: 4px;
    line-height: 1.4em;
    background-color: #06af94;
    border-color: #06af94;
    color: #fff;
}

.form_buttons {
    text-align: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.form_buttons .p_btn {
    margin-right: 1em;
    text-align: center;
    line-height: 1.8em;
    border-radius: 20px;
    padding: 0.4em 2em;
    background-color: transparent;
    border: 1px solid #a8c5fd;
    color: #a8c5fd;
    cursor: pointer;
}
.form_buttons .p_btn:last-child{
    margin-right: 0;
}
/* Hashtag search radio button end */

#flt0_demo,#flt1_demo,#flt2_demo,#flt0_following_list_csv,#flt5_following_list_csv{
    display: none;
}
