.text-color{
	color: #19c5bd;
	font-size: 40px;
}
.text-color span{
	font-size: 60px;
}

.follower_lists{
	background: #eeeeee; 
	padding: 5px;
}
.follower_upper{
	background: #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
}
.follower_upper p{
	font-size: 20px;
}
.container .row a{
	text-decoration: none;
	color: #333333;
}

.container .row .thumbnail{
	margin-bottom: 0px ;
}
.container .row .thumbnail:hover{
	border: 1px solid #28c8c0;
}